@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flexStart {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

@mixin flexEnd {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
