@import 'src/Styles/mixin.scss';
@import 'src/Styles/variables.scss';

.arrow {
    width: 0;
    height: 0;
    border-left: $arrow-border-side solid transparent;
    border-right: $arrow-border-side solid transparent;
}

.arrow-home{
    border-top-color: $grey;
    border-bottom-color: $grey;
}

.arrow-away{
    border-top-color: $orange;
    border-bottom-color: $orange;
}

.arrow-top {
    @extend .arrow;
    border-top-width: $arrow-border-base;
    border-top-style: solid;
}

.arrow-bottom {
    @extend .arrow;
    border-bottom-width: $arrow-border-base;
    border-bottom-style: solid;
}
