@import 'src/Styles/mixin.scss';
@import 'src/Styles/variables.scss';

.team0 {
    background-color: $white;
}

.team1 {
    background-color: $black;
}

.piece {
    display: flex;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border-style: solid;
    border-color: $wood;
}

