@import 'src/Styles/mixin.scss';
@import 'src/Styles/variables.scss';

.slot {
    position: relative;
    width: $slot-width;
    height: $slot-height;
}

.slot-layer {
    position: absolute;
    width: $slot-width;
    height: $slot-height;
    flex-direction: column;
}

.top {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.bottom {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

